#contact{
    padding-top: 10px;
    padding-bottom: 70px;
    justify-content: start;
    box-sizing: border-box;
    justify-content: start;
    background-color: #00060e5b;
    border-top: 5px solid var(--secondary-color);
    background-image: url('../../assets/wp7.png'); 
    background-position: center; 
    display: flex;
    height: Clamp(200px, 40vw, 300px);
    background-size: contain ;
    background-repeat: repeat-x;
    justify-content: center;
}

#contact > .column, #contact .textM{
    justify-content: center;
    justify-self: center;
    align-self: center;
    align-items: center;
}

#contact .textXS {
    font-size: clamp(8px, 2vw, 15px);
}
#contact .column {
    gap: Clamp(10px, 5vw, 30px);
}
